<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bai tap ReactJS</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div id="root"></div>
    <script type="text/javascript" src="js/lib/react.js"></script>
    <script type="text/javascript" src="js/lib/react-dom.js"></script>
    <script type="text/javascript" src="js/lib/browser.min.js"></script>
    <!--<script type="text/babel" src="js/bt1.js"></script>-->
    <!--<script type="text/babel" src="js/bt2.js"></script>-->
    <!--<script type="text/babel" src="js/bt3.js"></script>-->
    <!--<script type="text/babel" src="js/bt4.js"></script>-->
    <script type="text/babel" src="js/bt5.js"></script>
</body>

</html>