<!DOCTYPE html>
<html lang="en">

<head>
    <title>Demo ReactJS</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="lib/react.js"></script>
    <script src="lib/react-dom.js"></script>
    <script src="lib/browser.min.js"></script>
    <style>
        .mauvang {
            background: yellow;
        }
    </style>
</head>

<body>
    <div id="root"></div>
    <script type="text/babel" src="xuly.js"></script>
</body>

</html>